@layout NoLayout
@page "/"


<div class="page">
    <PageTitle>Home</PageTitle>

    <input type="text" class="form-control"  placeholder="Search your character..." autocomplete="off" spellcheck="false" />

</div>


