:root {
	--color-primary: #f26722;
	--color-black: #111;
	--color-light: #ccc;
	--bg-dark: #222;
	--bg-light: #eee;
	--border-input: 0.2rem var(--color-primary);
	--shadow-input: 0 0 0.5rem 0.5rem rgb( 253 126 20 / 40%);
	font-family: Arial;
}

body {
	color: var(--color-black);
	background-color: var(--bg-dark);
}

h1 {
	color: var(--color-primary);
}


/* inputs */
input {
	background-color: var(--bg-light);

	border-radius: 1rem;
	border: var(--border-input);
	box-shadow: none;

	transition: all linear 1s;
	transition-property: border, box-shadow;
	padding: 0;

}

	input:focus, input:focus-visible {
		border: none;
		box-shadow: var(--shadow-input);
		transition: all linear 1s;
		transition-property: border, box-shadow;
		outline: none
	}

	

	input[type="text"]::placeholder {
		color: var(--color-black);
	}
	
